table {
  margin: 1em;
  padding: 0px;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
}

tr {
  padding: 0;
  border: 1px solid black;
  background: #617DB3;
  color: darkblue;
}

td {
  border: 1px solid black;
  background: lightgray;
  color: black;
}

.feildBox {
  width: 45%;

}

.button {
  background: aqua;
  border: 1px solid black;
  border-radius: 10px;
}
