body {
  margin: 0;
  background: #835b32;
}

.header {
  background: #00d8c8;
  height: 15em;
}

.title {
  padding: 2em;
  color: white;
}

.headline {
  font-family: Quicksand, sans-serif;
  font-size: 3em;
  color: white;
}

h2 {
  color: #009085;
  padding-left: 2em;
  font-family: sans-serif;
}

.bioHeadline {
  font-family: Quicksand, sans-serif;
  font-size: 2em;
  color: #00d8c8;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.bio {
  width: 55%;
  margin-left: 4em;
}

.bioP {
  font-family: Georgia;
  color: white;
  padding-left: 1em;
  padding-right: 3em;
}

.fisBox {
  background: #ff6842;
  border: 1px solid black;
}

aside {
  padding-top: 4em;
  margin-right: 4em;
  padding-top: 1em;
}

.circle {
  display: inline-block;
  text-align: center;
  background: #00d8c8;
  border-radius: 100%;
  height: 5em;
  width: 5em;
}

.locations {
  margin-top: 0;
  font-family: Georgia;
  background: #ff6842;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.5em;
  color: white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.verticalBreak {
  height: 3em;
  clear: both;
}

.footerLine {
  width: 60%;
  border-top: 10px dotted #00d8c8;
  margin: auto;
}

footer {
  text-align: center;
}

legend {
  display: inline;
  background: #00d8c8;
  border-radius: 100%;
  height: 4em;
  width: 4em;
  border: 2px solid white;
}

.legendP {
  margin-top: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  font-size: 1.2em;
  color: #00d8c8;
}

.legendP a {
  color: #ffd3ae;
}

.legendP a:hover {
  color: #ff6842;
}

fieldset {
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  margin: 0;
}

h4 {
  margin: 0;
}
